/* Css Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css Reset End */


:root {
    
    --gray: #D9D9D9;
    --magenta: #BF40BF;
    --bgcolor: #FAFAFA;
}



body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

a {
    color: #000 !important;
    text-decoration: none !important;
}

/* Top Section */

#headercontainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
#leftcontent {
    display: flex;
    justify-content: center;
    align-items: center;

}



.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
    margin-top: 30px;
    margin-left: 20px;
    color: #000;
}


li a:hover {
    
    color: var(--magenta)
}


/* End Top Section */


/* Hero Section */
.herosection {
    height: 500px;
    display: flex;
    align-items: center;
    background-color: var(--bgcolor);
    margin: 20px 0;

}

.hero-h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: normal;
}

.herop-p {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 500px;
    font-family: 'Inter', sans-serif;
}

@media only screen and (max-width: 1300px){

#left-hero-col {
    display: flex;
    justify-content: center;
    align-items: center;

}

#right-hero-col {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
}

@media only screen and (max-width: 600px){

    .herop-p {
        width: auto;
    }

    .form {
        width: 90%;
    }

    .left-hero-text  {
        margin-left: 15px;
        text-align: justify;
        width: 90%;
    }
}

#right-hero-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) and (min-width: 800px){
    #right-hero-col {
        display: block;
    }

    .herosection {
        display: flex;
    justify-content: center;
    align-items: center;
    }
}

.form {
    display: flex;
}

.textbox {
    width: 350px;
    height: 40px;
    padding-left: 15px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: var(--gray);
    border: 1px solid var(--gray);
}

@media only screen and (max-width: 700px) {
    .textbox {
        width: 220px;
    }

}

.check {
    font-size: 15px;
    display: flex;
}



input[type=checkbox] {
    margin-top: -5px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
    accent-color: var(--magenta);
}

@media only screen and (max-width: 700px) {

    input[type=checkbox] {
        margin-top: 0 !important;

    }
}




.hero-btn {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid var(--magenta);
    background-color: var(--magenta);
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;

}

/* End Hero Section */

/* Archiving Section */

.archive {
    height:fit-content;
    position: relative;
    padding-bottom: 50px;
    background-color: var(--bgcolor);
    margin: 30px 0;
}

#arch-rowss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    

.main-row {
    display: flex;
    
}

}

.arc-h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.doc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}


@media only screen and (max-width: 1000px) {
    .doc {
        align-items: center;
        text-align: center;
    }
}

.archiving-h4 {
    font-weight: 700 !important;
    font-size: 18px;
    cursor: pointer;
}

.archive-p {
    
    text-align: justify;
    width: 350px;
    height: 100px;
}

#arc-col {
    height: 400px;
}

.doc{
    margin-bottom: 50px;
}

.arc-col {
    height: max-content;
}

.grey {
    position: relative;
}

.pdf {
    width: 40px;
    height: 30px;
    margin-top: -30px;
    cursor: pointer;
    position: absolute;
}
/* End Archiving Section */


/* Archival CMS Section */
.arc-cms {
    height: fit-content;
    padding-bottom: 50px;
    margin: 50px 0;
    background-color: var(--bgcolor);
}
#arc-cms-id {
    padding-left: 50px;
    padding-right: 50px;
}

.arch-cms-h3 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 40px;
    
}

.arch-cms-h4 {
    font-size: 18px;
    font-weight: 600;
    
}

.arc-cms-p {

    width: 50%;
}

.archival-p {
    width: 90%;
    text-align: justify ;
}


.pdf-img {
    width: 30px;
    margin-top: 20px;
    height: 20px;
    cursor: pointer;
}

.tabset > input[type="radio"] {
    position: absolute;
    left: -200vw;
  }
  
  .tabset .tab-panel {
    display: none;
  }
  
  .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
  .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
  .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
  .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
  .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
  .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
    display: block;
  }
  
  /*
   Styling
  */
  body {
    font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
    color: #333;
    font-weight: 300;
  }
  
  .tabset > label {
    position: relative;
    display: inline-block;
    padding: 15px 15px 25px;
    border: 1px solid transparent;
    border-bottom: 0;
    cursor: pointer;
    font-weight: 600;
  }
  
  .tabset > label::after {
    content: "";
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 22px;
    height: 4px;
    background: #8d8d8d;
  }
  
  .tabset > label:hover,
  .tabset > input:focus + label {
    background-color: var(--magenta);
    color: #fff;
  }
  
  
  .tabset > label:hover::after,
  .tabset > input:focus + label::after,
  .tabset > input:checked + label::after {
    background: #fff;
  }
  
  .tabset > input:checked + label {
    border-color: #ccc;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
    background-color: var(--magenta);
    color: #fff;
  }
  
  .tab-panel {
    padding: 30px 0;
    border-top: 1px solid #ccc;
  }

.arch-cms-h4 {
    cursor: pointer;
}
  
/* End Archival CMS section */

/* Protocol Section */

.protocol-section {
    height: max-content;
    background-color: var(--bgcolor);
    margin: 30px 0;
    padding-left: 50px;
    padding-right: 50px;
}





#left-protocol {
    margin-right: -20px
}

.left-protocol-p {
    width: 90%;
    text-align: justify;
    margin-bottom: 30px;
}

#left-protocol h3 {
    font-size: 25px;
    font-weight: 700;
}

#left-protocol h4 p {
    width: 95%;
    text-align: justify;
}

#prot-div h4 {
    width: 90%;
    font-weight: 700;
}

.proto-p {
    width: 85%;
    text-align: justify;
}

@media only screen and (max-width: 1300px) {
    #left-protocol {
        
        margin-bottom: 50px;
    }

}




@media only screen and (max-width: 900px) {
    #left-protocol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 50px;
    }
    
    .proto-p {
        width: 100%;
        text-align: center;
    }
    
}

/* Right Column */
#right-protocol {
    margin-left: 20px;
    text-align: center;
}
#right-protocol h3 {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.chasity {
    font-weight: 700;
}

.email-btn {
    background-color: var(--magenta);
    border: 1px solid var(--magenta);
    color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 40px;
}

.ack-texts p {
    text-align: left;
    text-align: justify;
    padding-left: 50px;
}

@media only screen and (max-width: 1200px){
    .ack-texts p {
        padding-left: 0;
        text-align: center;
    }
    
}

/* End Protocol Section */

/* Footer Section */
.footer {
    margin: 50px ;
}
#footer-cont {
    height: max-content;
    padding: 30px 30px;
    background-color: #697780;
}

#footer-row-a {
    display: flex;
    text-align: center;
}

.footer-top-p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    
}


.footer-btm-p {
    margin-top: 30px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    word-spacing: 30px;
    text-align: center;
     
}

@media only screen and (max-width: 700px) {
    
.footer-btm-p {
    word-spacing: 5px;
    text-align: center;
     
}
}

/* End Footer */

